#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  border: 3px solid deeppink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  border-radius: 8px;
  padding: 15px;
}

.cardsContainer {
  display: flex;
  flex-direction: column-reverse;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Links strong {
  margin-left: 25px;
  color: deeppink;
}

.cardsInfo {
  text-align: left;
}

.cardsInfoCategories {
  display: flex;

}

.cardsInfoCategories h3 {
  margin: 0 10px;
}

.read-the-docs {
  color: #888;
}

.btns button{
  margin-left: 20px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}


.FormAdd {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.FormAdd select,
.FormAdd input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.FormAdd button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background-color: #007bff;
  color: white;
}

.FormAdd button[type="submit"] {
  background-color: #28a745;
  margin-right: 10px;
}

.FormAdd button[type="submit"]:hover,
.FormAdd button[type="button"]:hover {
  opacity: 0.8;
}
